<style>
  p{
      font-size: 1rem;
  }

  .profile-container{
      padding-top: 3rem;
  }
</style>
<h1><%= @profile.first_name %> <%= @profile.last_name %></h4>
<%= link_to('Edit Profile', edit_profile_path(@profile), ) if @profile.user_id == current_user.id %>
<br></br>
<div class="profile-container">
<h4>My Details</h4>
  <p>Name: <%= @profile.first_name %> <%= @profile.last_name %></p>
  <p>Address: <%= @profile.address %></p>
  <p>City: <%= @profile.city %></p>
  <p>State: <%= @profile.state %></p>
  <p>Postcode: <%= @profile.postcode %></p>
</div>
<br>
</br>
<h1>My Listings</h1>
<%= render 'partials/listings'%>
<br></br>

<h1>My Bookings</h1>
<%= render 'partials/booking_table'%>