<style>
  p{
      font-size: 1rem;
  }

  .profile-container{
      padding-top: 3rem;
  }
</style>
<h1><%= @profile.first_name %> <%= @profile.last_name %></h4>
<%= link_to('Edit Profile', edit_profile_path(@profile), ) if @profile.user_id == current_user.id %>
<br></br>
<div class="profile-container">
<h4>My Details</h4>
  <p>Name: <%= @profile.first_name %> <%= @profile.last_name %></p>
  <p>Address: <%= @profile.address %></p>
  <p>City: <%= @profile.city %></p>
  <p>State: <%= @profile.state %></p>
  <p>Postcode: <%= @profile.postcode %></p>
</div>
<br>

<h1>My Listings</h1>
<%= render 'partials/listings'%>
<br></br>

<h1>My Bookings</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Item</th>
      <th scope="col">Daily Fee</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Duration (days) </th>
      <th scope="col">Total Fee </th>
    </tr>
  </thead>
  <% @bookings.each do |booking| %>
    <tbody>
      <tr>
          <td><%= booking.id %> </td>
          <td><%= link_to Item.find(booking.item_id).title, Item.find(booking.item_id) %> </td>
          <td>$<%= Item.find(booking.item_id).price %>0</td>
          <td><%= booking.start_date %> </td>
          <td><%= booking.end_date %> </td>
          <td><%= duration(booking) %></td>
          <td>$<%= total_fee(booking)  %>0</td>
          <td><%= link_to('Manage booking', edit_booking_path(booking), class: 'btn btn-warning me-2') %></td>
      </tr>
    <% end %>
  </tbody>
