<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <header>
        <style>
        

        @import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');


          .navbar .nav-link {
            color:  #ff5600!important;
            font-family: 'Akshar', sans-serif;
            font-size: 1.3rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

          }

          .navbar .nav-item {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          .navbar .nav-link:hover {
            color:  white!important;
          }

          .btn-nav {
            color:  #ff5600!important;
            background: transparent !important;
            border: none !important;
            font-family: 'Akshar', sans-serif;
            font-size: 1.3rem;
            padding-top: 1rem;
          }

          .btn-nav:hover {
            color:  white!important;
          }

          .nav-logo {
            padding-left: 1rem;
            padding-right: 1rem;
          }
          
          .nav_bar-toggler-icon {
            border: 3px solid #ff5600!important;
          }
        

          .navbar {
            background: #0d3d57!important;
            border-bottom: 6px solid #ff5600;
            height: 70px;
          }

          .nav-link#nav-li3 {
            margin-left: -0.1rem!important; 
            margin-top: -0.2rem!important;
          }

          .btn-nav#nav-li4 {
            margin-left: 0.5rem!important;
            margin-top: -0.3rem!important;
          }


          .navbar-collapse.collapse.show{
            background: #0d3d57!important;
            z-index: 10!important;
            border: 3px solid #ff5600;
          }


        </style>
      </head>
      <nav class="navbar navbar-expand-lg navbar-light bg-light"k>
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <%= image_tag 'https://res.cloudinary.com/damonjohnson/image/upload/v1652952698/logo_d6qmeu.png', class: "nav-logo", style: 'height:30px'%>
          </a> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to 'View listings', items_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Add listing', new_path, class: 'nav-link' %>
              </li>
            </ul>
            <% if user_signed_in? && user_has_profile?  %>
              <div class="navbar-text">
                <%= link_to 'My account',  profile_path(current_user.profile.id), id: 'nav-li3', class: 'nav-link' %>
              </div>
              <div class="navbar-text">
              <%= button_to 'Logout', destroy_user_session_path,  id: 'nav-li4', class: 'btn-nav', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to log out? " } } %>
            </div>
            <% elsif user_signed_in? %>
            <div class="navbar-text">
            </div>
            <% else %>
              <div class="navbar-text">
                <a class="nav-link" href="/users/sign_in" >Log in</a>
              </div>
              <div class="navbar-text">
                <a class="nav-link" href="/users/sign_up"'>Sign up</a>
              </div>
            <% end %>
          </div>
        </div>
      </nav>

