<h2>Change Booking Duration</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Item</th>
      <th scope="col">Daily Fee</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Return Date</th>
      <th scope="col"></th>
      <th scope="col">Duration</th>
      <th scope="col">Total Fee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @booking.id %> </td>
      <td><%= link_to Item.find(@booking.item_id).title, Item.find(@booking.item_id) %> </td>
      <td>$<%= Item.find(@booking.item_id).price %>0</td>
      <%= form_with(model: @booking, url: edit_booking_path(@booking), method: 'put', data: {turbo: false})  do |f| %>
        <td>
          <fieldset class="mb-2">
            <%= f.date_field :start_date %>
          </fieldset>
        </td>
        <td>
          <fieldset class="mb-2">
            <%= f.date_field :end_date %>
          </fieldset>
        </td>
        <td> 
          <fieldset>
            <%= f.submit "Save change", class: 'btn btn-primary', method: :patch %>
          </fieldset>
          <% end %>
        </td>
        <td><%= duration(@booking) %></td>
        <td><%= total_fee(@booking) %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <%= button_to('Cancel booking', @bookings, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to cancel the booking?" } }) %>


