<table class="table">
  <thead> 
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Item</th>
      <th scope="col">Daily Fee</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Duration (days) </th>
      <th scope="col">Total Fee </th>
    </tr>
  </thead>
  <tbody>
    <tr>    
      <td><%= @booking.id %> </td>
      <td><%= link_to Item.find(@booking.item_id).title, Item.find(@booking.item_id) %> </td>
      <td>$<%= Item.find(@booking.item_id).price %>0</td>
      <td><%= @booking.start_date %> </td>
      <td><%= @booking.end_date %> </td>
      <td><%= duration(@booking) %></td>
      <td>$<%= total_fee(@booking)  %>0</td>
      <td> <%= button_to('Cancel booking', @bookings, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to cancel the booking?" } }) %>
</td>
    </tr>
  </tbody>
</table>


<h2>Change Booking Duration</h2>
<%= form_with(model: @bookings, data: {turbo: false})  do |f| %>
  <fieldset class="mb-2">
    <%= f.label 'Hire date:' %>
    <%= f.date_field :start_date %>
  </fieldset>
  <fieldset class="mb-2">
    <%= f.label "Return date:" %>
    <%= f.date_field :end_date %>
  </fieldset>
   <fieldset>
    <%= f.submit class: 'btn btn-primary' %>
  </fieldset>
<% end %>

