<h2>Confirm Booking Information</h2>

<%= render partial: 'partials/item' %>

<%= form_with(model: @bookings, data: {turbo: false}) do |f| %>
  <fieldset class="mb-2">
    <%= f.label 'hire date:' %>
    <%= f.date_field :start_date %>
  </fieldset>
  <fieldset class="mb-2">
    <%= f.label 'return date:' %>
    <%= f.date_field :end_date %>
  </fieldset>
   <fieldset>
    <%= f.submit class: 'btn btn-primary' %>
  </fieldset>
<% end %>