 <style>
  footer {
      position: relative;
      bottom: -700px;
  }
</style>
<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Flint</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>
    <body>
      <%= render "partials/navbar" %>
      <% if notice %>
        <p class="alert alert-info notice" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
      <div class='container'>
        <div class="hero">
          <%= yield :hero %>
        </div>
        <br>
      </br>
      <%= yield %>
    </div>
  </body>
</html>
<footer>
  <div class="text-center p-3">
    © 2022 Copyright
    <a class="text-dark" href="https://github.com/DamonJohnson/flint_marketplace">
      <p>Damon Johnson</p>
    </a>
  </div>
</footer>
